# Dummy file to make Git recognize this empty directory
# 忽略所有eclipse自动生成内容
**/.classpath
**/.project
# 忽略所有的idea配置
**/.idea
# 忽略所有的gradle配置
**/.gradle
# 忽略idea家的工程文件
*.iml
# 忽略工程下的gradle目录
**/gradle/
# 忽略 .__init__文件
**/__init__.py
# 忽略 .DS_Store
**/.DS_Store
